---
name: ci

"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run yaml Lint
        uses: actionshub/yamllint@main

  mdl:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run Markdown Lint
        uses: actionshub/markdownlint@main

  integration-windows-2016:
    needs: [mdl, yamllint]
    runs-on: windows-2016
    strategy:
      matrix:
        os:
          - 'windows-2016'
        suite:
          - 'all'
          - 'vc6'
          - 'vc9'
          - 'vc10'
          - 'vc11'
          - 'vc12'
          # GitHub Actions uses a newer version of vcruntime for windows-2019
          # https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md#microsoft-visual-c
          - 'vc14'
      fail-fast: false

    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Install Chef
        uses: actionshub/chef-install@main
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
      - name: Kitchen Exec
        uses: actionshub/test-kitchen@main
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.exec.yml
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}

  integration:
    needs: [mdl, yamllint]
    runs-on: windows-latest
    strategy:
      matrix:
        os:
          - 'windows-2019'
        suite:
          - 'vc6'
          - 'vc9'
          - 'vc10'
          - 'vc11'
          - 'vc12'
      fail-fast: false

    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Install Chef
        uses: actionshub/chef-install@main
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
      - name: Kitchen Exec
        uses: actionshub/test-kitchen@main
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.exec.yml
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
